{
  "index_patterns": [
    "general-*"
  ],
  "settings": {
    "mapping": {
      "total_fields": {
        "limit": "10000"
      }
    },
    "number_of_shards": 1,
    "number_of_replicas": 0
  },
  "mappings": {
    "date_detection": false,
    "properties": {
      "@timestamp": {
        "type": "date"
      },
      "timestamp": {
        "type": "date"
      },
      "ip_client": {
        "type": "ip"
      },
      "client-ip": {
        "type": "ip"
      },
      "server-ip": {
        "type": "ip"
      }, 
      "dest_ip": {
        "type": "ip"
      },
      "violation_rating": {
        "type": "integer"
      }     
    }
  }
}

